# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

KandataGame.xcodeproj/xcuserdata/kimurayuusaku.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store